.profilnaSlika {
	border-radius: 20px;
	width: 300px;
}

.naslov {
	text-decoration: underline;
}

.podnaslov {
	color: gold;
}

.centarSajta {
	text-align: center;
}

.header {
	background-color: aquamarine;
}

.footer {
	background-color: aquamarine;
}
